BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
TabWidth: 4
ColumnLimit: 100
BreakConstructorInitializers: BeforeComma